.button {
    width: 20%;
    margin: 5px;
    padding: 5px;
    background-color: #0b4c5b;
    color: #ffffff;
    border: 1px solid  #0b4c5b;
    border-radius: 5px;
    outline: none;
    transition: background-color .2s;

    &:hover {
      background-color: #1899b6;
      cursor: pointer;
    }

    &:active {
      background-color:  #0b4c5b;
    }
  }
